/**
 * {title}  [{difficulty}]
 * {category}
 *
 * LeetCode: {leetcode}
 * NeetCode: {neetcode}
 *
 * Time:  O(?)
 * Space: O(?)
 *
 * The idea in one sentence:
 *
 * Where I got stuck:
 */
class Solution {{
    public Object solve(Object... args) {{
        return null;
    }}

    public static void main(String[] args) {{
        Solution s = new Solution();
        System.out.println(s.solve());
    }}
}}
